.statistics {
  width: 400px;
  background-color: #ffffff;
  padding-top: 30px;
  text-align: center;

  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.statList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  width: 100%;
  padding: 15px;
}

.label {
  display: block;
  color: #ffffff;
}

.percentage {
  font-size: 20px;
  color: #ffffff;
}
